Examples/Faults/FaultException/Client/Service References/MyServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="pipe_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Faults" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyContract_ThrowTypedFault_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowTypedFault" />
  </wsdl:message>
  <wsdl:message name="IMyContract_ThrowTypedFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowTypedFaultResponse" />
  </wsdl:message>
  <wsdl:message name="IMyContract_ThrowTypedFault_FaultTypeFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Faults" name="detail" element="q1:FaultType" />
  </wsdl:message>
  <wsdl:message name="IMyContract_ThrowUntypedFault_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowUntypedFault" />
  </wsdl:message>
  <wsdl:message name="IMyContract_ThrowUntypedFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowUntypedFaultResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyContract">
    <wsdl:operation name="ThrowTypedFault">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyContract/ThrowTypedFault" message="tns:IMyContract_ThrowTypedFault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyContract/ThrowTypedFaultResponse" message="tns:IMyContract_ThrowTypedFault_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMyContract/ThrowTypedFaultFaultTypeFault" name="FaultTypeFault" message="tns:IMyContract_ThrowTypedFault_FaultTypeFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThrowUntypedFault">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyContract/ThrowUntypedFault" message="tns:IMyContract_ThrowUntypedFault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyContract/ThrowUntypedFaultResponse" message="tns:IMyContract_ThrowUntypedFault_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pipe" type="tns:IMyContract">
    <wsp:PolicyReference URI="#pipe_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="ThrowTypedFault">
      <soap12:operation soapAction="http://tempuri.org/IMyContract/ThrowTypedFault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultTypeFault">
        <soap12:fault use="literal" name="FaultTypeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ThrowUntypedFault">
      <soap12:operation soapAction="http://tempuri.org/IMyContract/ThrowUntypedFault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="pipe" binding="tns:pipe">
      <soap12:address location="net.pipe://localhost/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>